.favorito{
    background: white;
}
.boton{
    width: 110px;
    height: 30px;
    margin: 5px;
}
.cabecera{
    padding-right: 40px;
    text-align: end;
}

.image-cover{
    width: 350px;
    height: 400px;
    display: block;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer{
    background-image: none;
}

ion-icon{
    color: red;
}