.boton{
font-size: small;
}
.cabecera{
    padding-right: 40px;
    text-align: end;
}

.image-cover{
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.input{
    white-space: nowrap;
    width: 200px;
    border: 1px solid;
    padding: 2px 5px;
    overflow: hidden;
}

.label{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
}

