<ion-header>
  <ion-toolbar>
    <div class="logo" slot="start">
      <img src="/assets/logotipo.png">
    </div>
    <h3 class="cabecera">{{rutina.nombre}}</h3>
    <!--
    <ion-buttons slot="start">
      <ion-button (click)="back()" expand="block" fill="clear" shape="round">
        <ion-icon size="large" color="tertiary" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    -->
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="contentScrollActive">

  <div slot="fixed" class="fixed-box">
    <div class="drop-area" #dropZoneRoutine>
            <!--{{rutinaEjercicios | json}} -->

      <ion-grid fixed>
        <ion-row>
          <ion-col size="4" *ngFor="let ejercicio of rutinaEjercicios">
            <ion-card *ngIf="ejercicio.cover" mode="ios">
              <ion-card-header>
                <!--<img (click)="quiensoy(ejercicio)" class="image-cover" [style]="(ejercicio.cover | imagen) | domSanitizer"> -->
                <img (click)="eliminar(ejercicio)" class="image-routine" [style]="(ejercicio.cover | imagen) | domSanitizer"> 
              </ion-card-header>
              <ion-card-content>
                <h6>{{ejercicio.nombre}}</h6>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
            <ion-searchbar placeholder="Buscar ejercicio"
                       color="secondary"
                       (ionChange)="buscar($event)"
                       [value]="text"
                       debounce="700" 
                       mode="ios"
                       autocomplete="true"
                       animated>
        </ion-searchbar>
  </div>


  <div class="item-group"> 
    <ion-item *ngFor="let ejercicio of ejerciciosBuscar">
      <img class="image-cover" [style]="(ejercicio.cover | imagen) | domSanitizer" (click)="detalle(ejercicio._id)">
      <div>
        <h6 class="texto">{{ejercicio.nombre}}</h6>
        <h2 class="texto">{{ejercicio.tipo}}</h2>
      </div>
    </ion-item>

<!--
      <ion-grid fixed>
      <ion-row>
        <ion-col size="6" *ngFor="let ejercicio of listaEjercicios">
          <ion-card>
            <ion-card-header>
              <img class="image-cover" [style]="(ejercicio.cover | imagen) | domSanitizer">
            </ion-card-header>
            <ion-card-content>
              <h6>{{ejercicio.nombre}}</h6>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
-->
  </div>

</ion-content>

<ion-footer class="ion-no-border" collapse="fade" [translucent]="true">
  <ion-toolbar>

    <div slot="start">
      <ion-button class="boton"
                  mode="ios"
                  color="success"
                  (click)="actualizar()">
            Actualizar
      </ion-button>
    </div>
    <div slot="end">
      <ion-button class="boton"
                  mode="ios"
                  color="danger"
                  (click)="cancelar()">
            Cancelar
      </ion-button>
  </div>
  </ion-toolbar>
</ion-footer>

