.cabecera{
    padding-right: 40px;
    text-align: end;
}

.boton{
    width: 110px;
    height: 30px;
    margin: 5px;
}

.centrado{
    text-align: end;
    padding-right: 10px;
}

.image-cover{
    position: relative;
    text-align: center;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
}